{% extends './base_with_navbar.html' %}

{% block content_main %}
    <div class="container">
        <form action="" method="POST" target="_self" autocomplete="off">
            {{ form.hidden_tag() }}
            <fieldset class="w-75">
                <div class="mb-3">
                    <Legend class="lato-bold">
                        Log In to get started! 🚀
                    </Legend>
                </div>
                <div class="mb-3"> 
                    
                    {{ form.email.label(class="form-label text-dark lato-regular") }} 
                    
                    {% if form.email.errors %} 
                    
                        {{form.email(class="form-control text-dark form-control-lg is-invalid border border-primary border-2")}} 
                    
                    {% else %}

                        {{ form.email(class="form-control text-dark
                        form-control-lg border border-primary border-2") }} 
                    
                    {% endif %} 

                    {% for error in form.email.errors %}
                        <div class="invalid-feedback text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">

                    {{ form.password.label(class="form-label text-dark lato-regular")}}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg text-dark is-invalid")}}
                    {% else %}
                        {{ form.password(class="form-control form-control-lg text-dark border border-primary border-2") }}
                    {% endif %}

                    {% for error in form.password.errors %}
                        <div class="invalid-feedback text-danger">{{ error }}</div>
                    {% endfor %}

                </div>
            </fieldset>
            <div class="mb-3">
                {{ form.submitButton(class="landing-page-button btn") }}
            </div>
        </form>
    </div>
{% endblock content_main %}